#tech-content h1{
    text-align: center;
}

#tech-content .tech-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#tech-content .tech-details div{
    text-align: center;
    padding: 20px;
}

#frame-content h1{
    text-align: center;
}

.frame-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.frame-details div{
    text-align: center;
}

.icons{
    width: 128px;
    height: 128px;
}

.react{
    width: 128px;
    height: 120px;
}

.education .resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

